h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** -------------------------header-------------------------- */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-part {
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-list-item {
}

/** -------------------------hero-------------------------- */

.hero-container {
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
  color: #fff;
  text-align: center;
}

.button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  display: flex;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/**-------------------------our goal---------------------------- */
.goal {
}

.goal-container {
}

/* ? --------------------visually-hidden------------------------ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ?------------------------------------------------- */

.goal-list {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 24px;
}

.goal-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.goal-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.goal-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*todo------------------------our team----------------------- */

.team {
  background-color: #f4f4fd;
  margin-bottom: 120px;
}

.team-container {
}

.team-title {
  padding-top: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.team-list-item {
  background-color: #ffffff;
}

/* ?  width: calc((100%-3 * 24) / 4); */

.team-list-image {
}

.item-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-name {
  margin-bottom: 8px;
  text-align: center;
}

.team-list-text {
  text-align: center;
}

/*todo-----------------------portfolio---------------------------- */

.portfolio {
}
.portfolio-container {
}

.portfolio-title {
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 24px 48px; */
}

.portfolio-item-text {
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-list-img {
}

.portfolio-list-subtitle {
  padding-bottom: 8px;
}

.portfolio-list-text {
  padding-bottom: 32px;
}

/** ----------------------------footer------------------------------- */

.footer {
  background-color: #2e2f42;
}

.footer-linc {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-linc-part {
  color: #f4f4fd;
}

.footer-linc:hover,
.footer-linc:focus {
  color: #404bbf;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
